
<div class="row">
  <div class="col-sm-1">&nbsp;</div>

  <div class="formulario col-sm-6" data-example-id="frmparrafo">
    <form>
      <div class="form-group">
        <label for="txtnombre" >Nombre</label>
        <input type="text" class="form-control" id="txtnombre" aria-describedby="nombrehelp" placeholder="Ingrese un nombre">
      </div>
      <div class="form-group">
        <label for="txtdescripcion">Descripci&oacute;n</label>
        <textarea class="form-control" id="txtdescripcion" rows="3"></textarea>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" id="checkboxSuccess" value="option1">
          Checkbox with success
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" id="checkboxWarning" value="option1">
          Checkbox with warning
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-1">&nbsp;</div>
  <div class="col-sm-3">
    <label for="termino">lalala</label>
    <input type="text" name="txtbusqueda" value="" class="form-control">
  </div>
  <div class="col-sm-8">&nbsp;</div>
</div>
<br>
<div class="row">
  <div class="col-sm-1">&nbsp;</div>
  <div class="col-sm-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
